@import 'antd/dist/antd.css';
// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';

body {
  background-color: #e6e6e6;
  .wrapper {
    width: 1280px;
    background-color: #fff;
    margin: 0 auto 15px auto;
  }
}
